@media only screen and (max-width: 40em) {
.smalltablediv {
padding-left:0rem !important;
padding-right:0rem !important;
width: 100%;
float: left;}
#tntj{font-size:80%  !important;}
#entlu{font-size:76%  !important;}
#namefont {font-size:85%;font-family: Open Sans Condensed !important; padding-left:6px !important;}
table#mlist tr td, table#clist tr td, table#plistn tr td{padding: 0.5625rem 0rem ;}
}
@media only screen and (max-width: 64em) {
#coc2u {font-size:0.75rem;}
.clantopl {font-size:1.15rem;}
.clantopt {font-size:0.95em !important;}
}
@media only screen and (min-width: 64.063em) { 
.clantopl {font-size:2.875rem;}
.clantopt {font-size:1.875em !important;}
}
@media only screen and (min-width: 64.063em) and (max-width: 79.938em) { 
.manual_w {width:91.66667%;}
.manual_w2 {width:75%;}
}
@media only screen and (min-width: 80.000em) and (max-width: 87.438em) { 
.manual_w {width:75%;}
.manual_w2 {width:66.66667%;}
}
@media only screen and (min-width: 87.500em) and (max-width: 99.938em) { 
.manual_w {width:66.66667%;}
.manual_w2 {width:58.33333%;}
}
@media only screen and (min-width: 100.000em) { 
.manual_w {width:58.33333%;}
.manual_w2 {width:58.33333%;}
}
@media only screen and (min-width: 85.000em) {
#ads {display:inherit;}
}
@media only screen and (max-width: 84.938em) {
#ads {display:none;}
} 
@font-face {
	font-family: 'coc-webfont';
	src: url('//coc2u.cf/fonts/Supercell-magic-webfont.eot');
	src: local('coc-webfont'), url('//coc2u.cf/fonts/sm-webfont.woff') format('woff'), url('//coc2u.cf/fonts/sm-webfont.ttf') format('truetype'), url('//coc2u.cf/fonts/sm-webfont.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Comix Loud';
	src: url('//coc2u.cf/fonts/Comix Loud.eot');
	src: local('Comix Loud'), url('//coc2u.cf/fonts/Comix Loud.woff') format('woff'), url('//coc2u.cf/fonts/Comix Loud.ttf') format('truetype'), url('//coc2u.cf/fonts/Comix Loud.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
  font-family: 'Open Sans Condensed';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Cond Light'), local('OpenSans-CondensedLight'), url('//coc2u.cf/fonts/opensans-300.woff') format('woff');
}
@font-face {
  font-family: 'Open Sans Condensed';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Condensed Bold'), local('OpenSans-CondensedBold'), url('//coc2u.cf/fonts/opensans-700.woff') format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url('//coc2u.cf/fonts/opensansR-400.woff') format('woff');
}
.row, .osfont {
font-family: Open Sans !important;
}
#namefont {
font-weight:bold;
}
#coc2u {
font-family: Comix Loud !important;
vertical-align:middle !important;
}
#cocfont {
font-family: coc-webfont !important;
padding-top: 0.25em
}
body {
background: url("//coc2u.cf/images/bg.png") repeat scroll center top rgba(0, 0, 0, 0);
}
audio { 
   display:none;
}
table.dataTable.display tbody tr
{
-webkit-transition:  background-color 100ms;
-moz-transition:  background-color 100ms;
-o-transition: background-color 100ms;
-ms-transition: background-color 100ms;
transition: background-color 100ms;
}
table.dataTable.hover tbody tr.m:hover, table.dataTable.display tbody tr.m:hover,
table.dataTable.hover tbody tr.m:hover.selected, table.dataTable.display tbody tr.m:hover.selected {
background-color: #00FAFA;
-webkit-transition:  background-color 300ms;
-moz-transition:  background-color 300ms;
-o-transition: background-color 300ms;
-ms-transition: background-color 300ms;
transition: background-color 300ms;
}
tr.odd, tr.odd:hover, tr.even, tr.even:hover{
visibility:inherit;
}
td.cmouse:hover{
cursor:pointer;
cursor:hand;
}
table.dataTable tbody tr td
{
border-top: 1px solid #fee;
border-bottom: 1px solid #fee;
}
tr.group, tr.group:hover {
background-color: #E0E0E0 !important;
color: #333333;
cursor:help;
padding-right:10%;
}
#radioinput {
vertical-align:middle !important;
text-align:center !important;
padding-left: 10px !important;
}
#searchlabeln, #searchlabelt {
color:#ddd !important;
font-size:0.8125rem;
}
li#searchb{
padding:0px !important;;
}
thead th, thead td {
border-bottom: 1px solid #666666;
}
tfoot th, tfoot td {
border-top: 1px solid #666666;
}
input.skey{
height: 1.8rem !important;
padding-top: 0.35rem !important;
}
.warstatus {
-webkit-border-radius: 9px;
-moz-border-radius: 9px;
border-radius: 9px;
text-shadow: 1px 1px 1px #000000;
color: #ffffff;
padding: 1px 0px 2px 0px;
border: solid #222222 1px;
text-align:center;
font-weight:bold;
font-size:0.75rem;
/*  width:40px; */
}
.in {
background: #c7e665;
background-image: -webkit-linear-gradient(top, #c7e665, #65b111);
background-image: -moz-linear-gradient(top, #c7e665, #65b111);
background-image: -ms-linear-gradient(top, #c7e665, #65b111);
background-image: -o-linear-gradient(top, #c7e665, #65b111);
background-image: linear-gradient(to bottom, #c7e665, #65b111);
}
.out {
background: #787d79;
background-image: -webkit-linear-gradient(top, #787d79, #363636);
background-image: -moz-linear-gradient(top, #787d79, #363636);
background-image: -ms-linear-gradient(top, #787d79, #363636);
background-image: -o-linear-gradient(top, #787d79, #363636);
background-image: linear-gradient(to bottom, #787d79, #363636);
}
.infobutt {
background-color: #DA924C !important;
border-color: #DA924C !important;
color: #efffff  !important;
}
.infobutt:hover, .infobutt:focus {
background-color: #B46C26 !important;
}
.top-bar-section ul li.menuunderline > a:hover, .top-bar-section ul li.menuunderline > a:focus {
color:ccc;
}
.clantop {
padding-left: 1rem !important;
margin: 0px !important;
text-align:center;
}
#ctopsection{
font-size:0.875em;
}
#asmallfont{
font-size:0.875em !important;
}
#levelbg  {
width:  80%;
height:  100%;
background:  #008CBA;
-moz-border-radius:  50%;
-webkit-border-radius:  50%;
border-radius:  50%;
position: relative; 
text-align: center;
padding: 0.275em;
color:#fff;
font-weight:bold;
}
table thead tr th.small1, table tfoot tr th.small1 {
font-size: 1rem;
font-weight: 700;
font-family:Open Sans Condensed;
}
table thead tr th.small2, table tfoot tr th.small2 {
font-family:Open Sans Condensed;
font-size: 0.8rem;
font-weight: 700;
}
table#mlist tr td, table#clist tr td
{
padding: 0.5625rem 5px;
}
table#plistn tr td
{
padding: 0.5625rem 0.425rem;
}
#troopsd  {
width:  80%;
height:  100%;
background:  #ffffff;
position: relative; 
text-align: center;
padding: 0.07em;
border:solid 1px #33BFED;
color: #222222;
border-radius: 8px 0px 8px 0px;
-moz-border-radius: 8px 0px 8px 0px;
-webkit-border-radius: 8px 0px 8px 0px;
 }
#troopsr  {
width:  80%;
height:  100%;
background:  #ffffff;
position: relative; 
text-align: center;
padding: 0.07em;
border:solid 1px #b7b7b7;
color: #222222;
border-radius: 0px 8px 0px 8px;
-moz-border-radius: 0px 8px 0px 8px;
-webkit-border-radius: 0px 8px 0px 8px;
}
.trophytext{
color:#222;
}
#attacksw  {
width:  80%;
height:  100%;
background:  #ffffff;
position: relative; 
text-align: center;
padding: 0.12em;
border:solid 2px #33BFED;
color: #222222;
border-radius: 5px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
 }
#defendsw  {
width:  80%;
height:  100%;
background:  #ffffff;
position: relative; 
text-align: center;
padding: 0.12em;
border:solid 2px #DA924C;
color: #222222;
border-radius: 5px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
}
.metero { 
height: 40px;
position: relative;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
border-radius: 3px;
padding: 9px;
-webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
-moz-box-shadow   : 0 1px 2px 0 rgba(0, 0, 0, 0.2);
box-shadow        : 0 1px 2px 0 rgba(0, 0, 0, 0.2);
background-color: #fefefe;
margin-top:15px;
margin-bottom:15px;
}
span.meteri, #meterc {
display: block;
height: 100%;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
}
span.meteri{
background-color: #008CBA;
-webkit-box-shadow: 
inset 0 2px 9px  rgba(255,255,255,0.2),
inset 0 -2px 6px rgba(0,0,0,0.3);
-moz-box-shadow: 
inset 0 2px 9px  rgba(255,255,255,0.2),
inset 0 -2px 6px rgba(0,0,0,0.3);
box-shadow: 
inset 0 2px 9px  rgba(255,255,255,0.2),
inset 0 -2px 6px rgba(0,0,0,0.3);
position: relative;
overflow: hidden;
text-align: center;
vertical-align:middle;
}
#meterc {
 background-color: #eee;
}
.meteri2 {
 background-color: #F04124 !important;
}
#insidexp {
color:fefefe;
}
#ctopinfo{
font-size:90% !important;
}
#ctopinfo b{
font-size:92%;
}
.cvalueback {
color: #FFF;
display: inline-block;
font-size: 0.875rem;
font-weight: normal;
line-height: 1;
margin-bottom: 0.3em;
padding: 0.3rem 0.45rem;
position: relative;
text-align: center;
text-decoration: none;
white-space: nowrap;
}
.tcvalueback {
color: #FFF;
display: inline-block;
font-size: 0.875rem;
font-weight: normal;
line-height: 2;
margin-bottom: auto;
width: 90%;
height: 90%;
position: relative;
text-align: center;
text-decoration: none;
white-space: nowrap;
}
.cvnum {
background-color: #CF9B5B;
}
.cvtext {
background-color: #f9f9f9;
color: #000 !important;
}
.cvtag {
background-color: #3E4637;
}
.cvnumxp {
background-color: #445F95;
}
.panel {
padding: 0.95rem 1.25rem;
}
.clanurl{
cursor:text !important;
height:48px !important;
}
ul.share-buttons{
  list-style: none;
  padding: 0;
  margin-left: 0 !important;
}
ul.share-buttons li{
  display: inline;
}
#ads {
padding-left: 0.45rem;
padding-right: 0.5rem;
position: fixed;
top: 5rem;
width: 100%;
}
#aunder a:hover, #aunder a:focus,
#namefont a:hover, #namefont a:focus {
text-decoration:underline;
}
#adate {
color:#777777;
}
.ui-progressbar {
position: relative;
}
.progress-label {
font-weight: bold;
text-shadow: 1px 1px 0 #fff;
}