.badge {
    float: left;
    width: 102px;
    height: 97px;
    text-align: center;
    position: relative;
    margin: 2px 0 0 13px;
    z-index: 1000;
}
.badge img {
    min-width: 100%;
}
.badge span {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: url(../images/badges.png) no-repeat;
}
/* Shadow */
.badge .badge-r {
    background-position: 100% 100%;
    z-index: 1500;
}
.badge-large {
    position: relative;
    height: 124px;
    width: 128px;
    float: left;
    margin: 0 0 10px 0;
	left: -1em;
}
.badge .badge-l {
    z-index: 1600;
    background-position: 0 100%;
}
.badge .badge-l span {
    background: none;
    font-weight: 700;
    color: #fff;
    height: 14px;
}
/* Wrap for medium size */
.badge-wrap-m {
    float: left;
    height: 40px;
    width: 45px;
    position: relative;
}
.badge-m {
    margin: 0;
    position: absolute;
    left: -31px;
    top: -26px;
    -ms-transform: scale(0.38);
    -webkit-transform: scale(0.38);
    transform: scale(0.38);
}
.badge-l {
    font-size: 13px;
    background-position: -135px -3032px;
}
.badge-l span {
    top: 5px;
	font-size: 13px;
}
.badge-s {
    margin: 0;
    position: absolute;
    left: -44px;
    top: -41px;
    -ms-transform: scale(0.16);
    -webkit-transform: scale(0.16);
    transform: scale(0.16);
}
/* Background */
.badge .badge-bg {
    z-index: 1000;
}
.badge .badge-bg1 { background-position: 0 0;}
.badge .badge-bg2 { background-position: -102px 0;}
.badge .badge-bg3 { background-position: -204px 0;}
.badge .badge-bg4 { background-position: -306px 0;}
.badge .badge-bg5 { background-position: -408px 0;}
.badge .badge-bg6 { background-position: 0 -97px;}
.badge .badge-bg7 { background-position: -102px -97px;}
.badge .badge-bg8 { background-position: -204px -97px;}
.badge .badge-bg9 { background-position: -306px -97px;}
.badge .badge-bg10 { background-position: -408px -97px;}
.badge .badge-bg11 { background-position: 0 -194px;}
.badge .badge-bg12 { background-position: -102px -194px;}
.badge .badge-bg13 { background-position: -204px -194px;}
/* Pattern */
.badge .badge-p {
    z-index: 1200;
    background-position: 0 -388px;
}
.badge .badge-p1 {background-position: 0 -388px;}
.badge .badge-p2 {background-position: -102px -388px;}
.badge .badge-p3 {background-position: -204px -388px;}
.badge .badge-p4 {background-position: -306px -388px;}
.badge .badge-p5 {background-position: -408px -388px;}
.badge .badge-p6 {background-position: 0 -485px;}
.badge .badge-p7 {background-position: -102px -485px;}
.badge .badge-p8 {background-position: -204px -485px;}
.badge .badge-p9 {background-position: -306px -485px;}
.badge .badge-p10 {background-position: -408px -485px;}
.badge .badge-p11 {background-position: 0 -582px;}
.badge .badge-p12 {background-position: -102px -582px;}
.badge .badge-p13 {background-position: -204px -582px;}
.badge .badge-p14 {background-position: -306px -582px;}
.badge .badge-p15 {background-position: -408px -582px;}
.badge .badge-p16 {background-position: 0 -679px;}
.badge .badge-p17 {background-position: -102px -679px;}
.badge .badge-p18 {background-position: -204px -679px;}
.badge .badge-p19 {background-position: -306px -679px;}
.badge .badge-p20 {background-position: -408px -679px;}
.badge .badge-p21 {background-position: 0 -776px;}
.badge .badge-p22 {background-position: -102px -776px;}
.badge .badge-p23 {background-position: -204px -776px;}
.badge .badge-p24 {background-position: -306px -776px;}
.badge .badge-p25 {background-position: -408px -776px;}
.badge .badge-p26 {background-position: 0 -873px;}
.badge .badge-p27 {background-position: -102px -873px;}
.badge .badge-p28 {background-position: -204px -873px;}
.badge .badge-p29 {background-position: -306px -873px;}
.badge .badge-p30 {background-position: -408px -873px;}
.badge .badge-p31 {background-position: 0 -970px;}
.badge .badge-p32 {background-position: -102px -970px;}
.badge .badge-p33 {background-position: -204px -970px;}
.badge .badge-p34 {background-position: -306px -970px;}
.badge .badge-p35 {background-position: -408px -970px;}
.badge .badge-p36 {background-position: 0 -1067px;}
.badge .badge-p37 {background-position: -102px -1067px;}
.badge .badge-p38 {background-position: -204px -1067px;}
.badge .badge-p39 {background-position: -306px -1067px;}
.badge .badge-p40 {background-position: -408px -1067px;}
.badge .badge-p41 {background-position: 0 -1164px;}
.badge .badge-p42 {background-position: -102px -1164px;}
.badge .badge-p43 {background-position: -204px -1164px;}
.badge .badge-p44 {background-position: -306px -1164px;}
.badge .badge-p45 {background-position: -408px -1164px;}
.badge .badge-p46 {background-position: 0 -1261px;}
.badge .badge-p47 {background-position: -102px -1261px;}
.badge .badge-p48 {background-position: -204px -1261px;}
.badge .badge-p49 {background-position: -306px -1261px;}
.badge .badge-p50 {background-position: -408px -1261px;}
.badge .badge-p51 {background-position: 0 -1358px;}
.badge .badge-p52 {background-position: -102px -1358px;}
.badge .badge-p53 {background-position: -204px -1358px;}
.badge .badge-p54 {background-position: -306px -1358px;}
.badge .badge-p55 {background-position: -408px -1358px;}
.badge .badge-p56 {background-position: 0 -1455px;}
.badge .badge-p57 {background-position: -102px -1455px;}
.badge .badge-p58 {background-position: -204px -1455px;}
.badge .badge-p58 {background-position: -306px -1455px;}
.badge .badge-p60 {background-position: -408px -1455px;}
.badge .badge-p61 {background-position: 0 -1552px;}
.badge .badge-p62 {background-position: -102px -1552px;}
.badge .badge-p63 {background-position: -204px -1552px;}
.badge .badge-p64 {background-position: -306px -1552px;}
.badge .badge-p65 {background-position: -408px -1552px;}
.badge .badge-p66 {background-position: 0 -1649px;}
.badge .badge-p67 {background-position: -102px -1649px;}
.badge .badge-p68 {background-position: -204px -1649px;}
.badge .badge-p69 {background-position: -306px -1649px;}
.badge .badge-p70 {background-position: -408px -1649px;}
.badge .badge-p71 {background-position: 0 -1746px;}
.badge .badge-p72 {background-position: -102px -1746px;}
.badge .badge-p73 {background-position: -204px -1746px;}
.badge .badge-p74 {background-position: -306px -1746px;}
.badge .badge-p75 {background-position: -408px -1746px;}
.badge .badge-p76 {background-position: 0 -1843px;}
.badge .badge-p77 {background-position: -102px -1843px;}
.badge .badge-p78 {background-position: -204px -1843px;}
.badge .badge-p79 {background-position: -306px -1843px;}
/* Border */
.badge-b {
    width: 128px;
    float: left;
    height: 101px;
    background: url(../images/badges.png) 0 -2037px no-repeat;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2000;
}
.badge-b1 { background: none;}
.badge-b2 { background-position: 0 -2037px;}
.badge-b3 { background-position: -128px -2037px;}
.badge-b4 { background-position: -256px -2037px;}
.badge-b5 { background-position: 0 -2138px;}
.badge-b6 { background-position: -128px -2138px;}
.badge-b7 { background-position: -256px -2138px;}
.badge-b8 { background-position: 0 -2239px;}
.badge-b9 { background-position: -128px -2239px;}
.badge-b10 { background-position: -256px -2239px;}
.badge-b11 { background-position: 0 -2340px;}
.badge-b12 { background-position: -128px -2340px;}
.badge-b13 { background-position: -256px -2340px;}
.badge-b14 { background-position: 0 -2441px;}
.badge-b15 { background-position: -128px -2441px;}
.badge-b16 { background-position: -256px -2441px; z-index: 50;}
.badge-b17 { background-position: 0 -2542px; z-index: 50;}
.badge-b18 { background-position: -128px -2542px; z-index: 50;}
.badge-b19 { background-position: -256px -2542px; z-index: 50;}
.badge-b20 { background-position: 0 -2643px; z-index: 50;}
/* Level Footer */
.badge-lvl {
    width: 102px;
    height: 124px;
    position: absolute;
    left: 13px;
    top: 0;
    z-index: 10;
    background: url(../images/badges.png) 0 -2845px no-repeat;
}
.badge-lvl2,
.badge-lvl3 { background-position: -102px -2845px;}
.badge-lvl4,
.badge-lvl5,
.badge-lvl6 { background-position: -204px -2845px;}
.badge-lvl7,
.badge-lvl8,
.badge-lvl9 { background-position: -306px -2845px;}
.badge-lvl10 { background-position: -409px -2845px;}