@media only screen and (min-width: 40.063em) { 
.bottom-links a {font-size:small;padding-left:27px;left: -27px;}
}
@media only screen and (max-width: 40em) {
.bottom-links a {line-height:30px;}
}
@media only screen and (max-width: 64em) {
.lbut {border-radius: 0px 6px 6px 0px;-moz-border-radius: 0px 6px 6px 0px;-webkit-border-radius: 0px 6px 6px 0px;}
.ltext {border-radius: 6px !important;-moz-border-radius: 6px !important;-webkit-border-radius: 6px !important;}
.lopt {border-radius: 6px 0px 0px 6px !important;-moz-border-radius: 6px 0px 0px 6px !important;-webkit-border-radius: 6px 0px 0px 6px !important;}
}
@media only screen and (min-width: 64.063em) { 
.lbut {border-radius: 0px 6px 6px 0px;-moz-border-radius: 0px 6px 6px 0px;-webkit-border-radius: 0px 6px 6px 0px;}
.ltext {border-radius: 6px 0px 0px 6px !important;-moz-border-radius: 6px 0px 0px 6px !important;-webkit-border-radius: 6px 0px 0px 6px !important;}
}
.container-border {
background: none repeat scroll 0 0 #DA924C;
display: block;
height: 4px;
left: 0;
position: absolute;
top: 0;
width: 100%;
z-index: 20;
}
.container-border-down {
background: none repeat scroll 0 0 #DA924C;
display: block;
height: 4px;
left: 0;
position: absolute;
bottom: 0;
width: 100%;
}
.bottom-links {
position:absolute;
bottom: 0px;
width: 100%;
background: none repeat scroll 0 0 #333333;
padding: 10px 0px 13px;
}
.bottom-links a {
color: #fff;
}
.bottom-links a:hover, .bottom-links a:focus {
text-decoration:underline;
color: #ccc;
}
.lcolumn {
width: 100%;
height: 100%;
float: left;
padding: 0;
background: white;
}
.lcontainer {
text-align: center;
height: 100%;
padding: 0px;
position: relative;
}
.lvertical-align-wrap {
position: absolute;
width: 100%;
height: 100%;
display: table;
background: url("//coc2u.cf/images/coc0.jpg") no-repeat fixed center top rgba(255, 255, 255, 1);
}
.lvertical-align {
background: white;
display: table-cell;
}
.lvertical-align--middle {
vertical-align: middle;
background: rgba(50, 50, 50, .4);
}
.ldivider {
border-right: 1px solid #4E4E4E;
clear: none;
height: 2.8125rem;
width: 0;
}
#llogo {
margin-top: -20%;
}